<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cognizant.MongoDb.MongoDb__Backup plugin="MongoDB@1.0">
      <MongoDb__Path>hj</MongoDb__Path>
      <BackupFile__Path>oil;</BackupFile__Path>
    </com.cognizant.MongoDb.MongoDb__Backup>
    <com.cognizant.MongoDb__Back.MongoDb__Backup plugin="MongoDb_Back@1.0">
      <MongoDb__Path>u</MongoDb__Path>
      <BackupFile__Path>uilo</BackupFile__Path>
    </com.cognizant.MongoDb__Back.MongoDb__Backup>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>